<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/static/sass/style.css">
  <title>Appiin</title>
</head>

<body>
  <!-- nav HACER LOS ENLANCES TIPO BOTON!!-->
  {% if current_user.is_anonymous %}
  {% elif current_user.type_User=="admin" %}
  <!-- Nav Admin-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/static/img/AppInn.ico" alt="">
    <a class="navbar-brand TitularNav" href="#">TipoAdmin</a>
    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Habitaciones
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('habit_asig_admin') }}">Recamaras asignadas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('habit_admin') }}">Recamaras</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('crear_habit') }}">Crear Recamara</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clientes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('client_admin')}}">Detalles de Clientes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('crear_Clt_Admin')}}">Agregar Cliente</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Usuarios
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('usuario_admin') }}">Detalles de usuario</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('crear_USR') }}">Agregar usuario</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reportes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Detalles de report</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">reportesasd</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Session</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{current_user.username}}
    </span>

  </nav>
  {% else %}
  <!-- Nav Recepcionista-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/static/img/AppInn.ico" alt="">
    <a class="navbar-brand TitularNav" href="#">TipoRecepcionista</a>
    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Habitaciones
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('habit_UsR') }}">Detalles de Recamaras</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clientes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('client_UsR') }}">Detalles de Clientes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('crearClt') }}">Agregar Cliente</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Session</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{current_user.username}}
    </span>

  </nav>
  {% endif %}
  <!-- Mensaje -->
  {% if current_user.is_anonymous %}
  {% else %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}
  {% endif %}

  <!-- FormLogin -->
  {% block content %}
  {% endblock %}
  <!-- Habit_UsR -->
  {% block habitUsR %}
  {% endblock %}
  <!-- client_UsR -->
  {% block clientUsR %}
  {% endblock %}
  <!-- Creacion de cliente -->
  {% block crearCtl %}
  {% endblock %}
  <!-- Edicion de cliente -->
  {% block crearCtlEdit %}
  {% endblock %}
  <!-- Asignacion de habitaciones -->
  {% block asignacion_habit %}
  {% endblock %}
  <!-- Habitacion Admin -->
  {% block habitAdmin %}
  {% endblock %}
  <!-- Crear Habitacion Admin -->
  {% block CrearhabitAdmin %}
  {% endblock %}
  <!-- edicion de habitacion Admin -->
  {% block EditHabitAdmin %}
  {% endblock %}
  <!-- delete de habitacion Admin -->
  {% block DeleteHabitAdmin %}
  {% endblock %}
  <!-- client_admin -->
  {% block clientAdmin %}
  {% endblock %}
  <!-- UsuarioAdmin -->
  {% block usuarioAdmin %}
  {% endblock %}
  <!-- CrearUSR Admin-->
  {% block crearUSR %}
  {% endblock %}
  <!-- CrearClt Admin -->
  {% block crearCltAdmin %}
  {% endblock %}
  <!-- edicion de clt Admin -->
  {% block EditCltAdmin %}
  {% endblock %}
  <!-- Habitaciones con asignacion de cliente Admin -->
  {% block habitAsignacionRecamara %}
  {% endblock %}
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
</body>

</html>