{% extends "base.html" %}
<!-- Mostrar informacion sobre creacion de clientes formulario -->
{% block CrearhabitAdmin %}
<section class="cont-crearCtl">
    
    <form action="" method="POST" class="borde">
        {{ form.hidden_tag() }}
        <h2>Nueva habitacion</h2>
        <hr>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h4><strong>{{message}}</strong></h4>
            <hr>
            {% endfor  %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="cont-form">

            {{ form.numHabit(size=25,placeholder="Numero de habitacion")}}
        </div>
        <div class="cont-form">

            {{ form.tipoHabit(size=1,placeholder="Tipo de habitacion")}}
        </div>
        <div class="cont-form">

            {{ form.capXHabit(size=25,placeholder="Capaciadad de habitacion")}}
        </div>
        
        <div class="cont-form">

            {{ form.costoXHabit(size=25, placeholder="Costo de habitacion") }}
        </div>
        <div class="cont-form">
            <!-- {{ form.submit() }} -->
            <input class="btn-submit" type="submit" value="Aceptar">
        </div>
    
    </form>

</section>
{% endblock %}