{% extends "base.html" %}
<!-- Mostrar informacion sobre creacion de clientes formulario -->
{% block crearCtl %}
<section class="cont-crearCtl">

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            <h3>Nuevo Cliente</h3>
            <hr>
        </div>
    
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h4><strong>{{message}}</strong></h4>
            <hr>
            {% endfor  %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="cont-form">

            {{ form.nameClt(size=25,placeholder="Nombre")}}
        </div>
        <div class="cont-form">

            {{ form.apellidoPateClt(size=25,placeholder="Apellido Paterno")}}
        </div>
        <div class="cont-form">

            {{ form.apellidoMateClt(size=25,placeholder="Apellido Materno")}}
        </div>
        
        <div class="cont-form">

            {{ form.phone(size=25, placeholder="Numero Telefono") }}
        </div>
        <div class="cont-form">

            {{ form.phone2(size=25, placeholder="Numero Telefono Auxiliar") }}
        </div>
        <div class="cont-form">

            {{ form.placaCarro(size=25, placeholder="Placa del Carro") }}
        </div>
        <div class="cont-form">

            {{ form.placaCarro2(size=25, placeholder="Segundo Carro") }}
        </div>
        <div class="cont-form">
            <!-- {{ form.submit() }} -->
            <input class="btn-submit" type="submit" value="Registrar">
        </div>
    
    </form>

</section>
{% endblock %}