{% extends "base.html" %}
<!-- Mostrar informacion sobre habitaciones del usuario de recepcionista -->
<!-- MODIFICAR LAS CLASES DESPUES!!! -->
{% block habitAsignacionRecamara %}
<section class="cont-cltUsr">
  <h1>Habitaciones El Cielo admin</h1>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numero de Habitacion</th>
        <th scope="col">Tipo de Habitacion</th>
        <th scope="col">Capacidad de Habitacion</th>
        <th scope="col">Costo de Habitacion</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Numero de Personas</th>
        <th scope="col">Dia de inicio</th>
        <th scope="col">Dia de salida</th>
        <th scope="col">Dias de estancia</th>
        <th scope="col">Importe Total</th>
        <th scope="col">Modifcar</th>
      </tr>
    </thead>

    {% for renta in habitaciones %}  
    <tbody>
      <!-- Modificar la extracion de datos de la bdd, se toman de las habitaciones y necesito extraerlas de renta de habitaciones -->
      <tr class="bg-white">

        <th></th>
        <td>{{renta[0].numHabit}}</td>
        <td>{{renta[0].tipoHabit}}</td>
        <td>{{renta[0].capXHabit}}</td>
        <td>{{renta[0].costoXHabit}}</td>
        <td>{{renta[11]}} {{renta[12]}} {{renta[13]}}</td>
        <td>{{renta[5]}}</td>
        <td>{{renta[6]}}</td>
        <td>{{renta[7]}}</td>
        <td>{{renta[8]}}</td>
        <td>{{renta[4]}}</td>
        <td><a href="/update_Habit_desocupada_admin/update{{renta.id}}"><button>desocupar</button></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>
{% endblock %}
