{% extends "base.html" %}
<!-- Mostrar informacion sobre habitaciones del usuario de recepcionista -->
<!-- MODIFICAR LAS CLASES DESPUES!!! -->
{% block habitUsR %}
<section class="cont-cltUsr">
  <h1>Habitaciones El Cielo</h1>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numero de Habitacion</th>
        <th scope="col">Tipo de Habitacion</th>
        <th scope="col">Capacidad de Habitacion</th>
        <th scope="col">Costo de Habitacion</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Numero de Personas</th>
        <th scope="col">Dia de inicio</th>
        <th scope="col">Dia de salida</th>
        <th scope="col">Importe Total</th>
      </tr>
    </thead>
    {% for habitacion in habitaciones %}  
    <tbody>
      <!-- Modificar la extracion de datos de la bdd, se toman de las habitaciones y necesito extraerlas de renta de habitaciones -->
      <tr class="bg-white">
        <th></th>
        <td>{{habitacion.numHabit}}</td>
        <td>{{habitacion.tipoHabit}}</td>
        <td>{{habitacion.capXHabit}}</td>
        <td>{{habitacion.costoXHabit}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>
{% endblock %}