{% extends "base.html" %}
<!-- Formulario de inicio de sesion -->
{% block content %}
<section class="cont-login">

    <form action="" method="POST" class="card clwht">
        {{ form.hidden_tag() }}
        <div>
            <h3>Iniciar sesión</h3>
            <hr>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h4><strong>{{message}}</strong></h4>
            <hr>
            {% endfor  %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="cont-form">
            <!-- {{ form.username.label }} -->
            {{ form.username(size=25,placeholder="Usuario")}}
        </div>
        
        <div class="cont-form">
            <!-- {{ form.password.label }} -->
            {{ form.password(size=25, placeholder="Contraseña") }}
        </div>

        <div class="cont-form btn-left">
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </div class="cont-form">

        <div class="cont-form">
            <!-- {{ form.submit() }} -->
            <input class="btn-submit" type="submit" value="Iniciar">
        </div>

    </form>
</section>
{% endblock %}